<html>
	<head>
	<title>Pro1</title>
	</head>
	<form method="get" action="http://localhost:3000/register">
		<table>
		<tr><td>USERNAME</td>
		<td><input name="username" type="text"></td></tr>
		<tr><td>PASSWORD</td>
		<td><input type="password" name="password"></td></tr>
		<tr><td>
		<input type="submit" /></td></tr>
		</table>
	</form>
	<br><br>
	<form method="get" action="http://localhost:3000/print">
		<table>
		<input type="submit" /></td></tr>
		</table>
	</form>
</html>