<html>
	<head>
	<title>User_details</title>
	</head>
	<h2>USER DEATILS</h2><br>
	<form method="get" action="http://localhost:3000/prints_sites">
		<table>
		<tr>PRINT SITES</tr>
		<tr><td><input type="submit" /></td></tr>
		</table>
	</form>
	<br>
	<form method="get" action="http://localhost:3000/insert_another_site">
		<table>
		<tr>ADD ANOTHER SITE</tr>
		<tr><td>SITE NAME</td><td>
		<select name="site_list">
		  <option value="facebook">facebook</option>
		  <option value="flipkart">flipkart</option>
		  <option value="gmail">gmail</option>
		  <option value="amazon">amazon</option>
		</select></td></tr>
		<tr><td>USERNAME</td>
		<td><input name="username" id="username" type="text"></td></tr>
		<tr><td>PASSWORD</td>
		<td><input type="password" name="password"></td></tr>
		<tr><td>
		<input type="submit" /></td></tr>
		</table>
	</form>
	<br>
	<form method="get" action="http://localhost:3000/fblogin">
		<table>
		<tr><td><input type="submit" value="FACEBOOK LOGIN"/></td></tr>
		</table>
	</form>
</html>